# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
htmlcov/
.coverage.*
.nox/
.coverage/
.pytest_cache/
.hypothesis/
.eggs/
*.egg-info/
.installed.cfg
*.manifest
*.spec
.mypy_cache/
.pyre/
.pytype/
cython_debug/

# IDE
.vscode/
.idea/
*.swp
*.swo
*.tmp

# OS
.DS_Store
Thumbs.db